.exam-list {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .exam-item {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 10px;
    background-color: #f9f9f9;
  }
