.queue-detail {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }

  .exam-details,
  .subject-details {
    border: 1px solid #ccc;
    padding: 15px;
    margin-top: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
  }

  .subject-photo {
    max-width: 150px;
    margin-top: 10px;
    border-radius: 8px;
  }
